/* Importar reglas base */
@import url("./base.css");


/* =============== */
/* NEW TASK SECTION */
/* =============== */

#new-article {
  background-color: var(--color-accent);
  color: var(--color-light);
}

#new-input {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  color: var(--color-light);
}

#new-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#new-input::placeholder {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--color-light);
}

#new-button {
  padding: 0.3rem;
  border: 1px solid var(--color-light);
  border-radius: 0.2rem;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--color-light);
}

#new-button:hover {
  cursor: pointer;
}

/* =============== */
/* FILTER SECTION */
/* =============== */

#filter-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--color-secondary);
}

.filter-button {
  height: 2rem;
  border: none;
  background: none;
  color: var(--color-secondary);
}

.filter-active {
  font-weight: 800;
  color: var(--color-accent);
}

.filter-button:hover {
  cursor: pointer;
}

/* =============== */
/* SECTION HEADER */
/* =============== */

.section-header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.counter {
  font-size: 1.3rem;
  color: var(--color-primary);
}

/* =============== */
/* STATUS ICON */
/* =============== */

.task-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.8rem;
  background-image: url("../assets/icons/circle_accent.svg");
  background-size: cover;
}

.status-icon:hover {
  cursor: pointer;
}

.done {
  background-image: url("../assets/icons/check_accent.svg");
  background-color: var(--color-accent);
}

/* =============== */
/* EDIT TEXT */
/* =============== */

.task-header h3 {
  cursor: pointer;
}

.edit-input {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

.edit-input:focus {
  outline: none;
  border: none;
}

/* =============== */
/* DELETE BUTTON */
/* =============== */

.delete-button {
  display: none;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  background-color: inherit;
  background-image: url("../assets/icons/delete_primary.svg");
  background-size: contain;
}

.delete-button:hover {
  cursor: pointer;
}

.active {
  display: block;
}

/* =============== */
/* ANIMATIONS */
/* =============== */

.article-show {
  animation: slideFadeIn 0.5s ease forwards;
}

.article-unshow {
  animation: slideFadeOut 0.5s ease forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* =============== */
/* MEDIA QUERIES */
/* =============== */

@media (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  #new-section,
  #filter-section {
    grid-column: 1/3;
  }

  #todo-section {
    margin: 1rem;
    justify-self: flex-end;
  }

  #done-section {
    margin: 1rem;
    justify-self: flex-start;
  }
}
